Repository basselalsayed/algo-visualiser-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

use updated favicon
  index.html
  public/apple-touch-icon.png
  public/favicon-96x96.png
  public/favicon.ico
  public/favicon.svg
  public/site.webmanifest
  public/web-app-manifest-192x192.png
  public/web-app-manifest-512x512.png
Due: none

update light mode gradient colours
  src/index.css
Due: none

typo
  src/app/app-component.tsx
  src/app/use-handle-algo-updates.hook.ts
Due: eslint --fix

move shortest path reverse call to algo.reset
  src/algorithms/path-finding-algorithm.ts
  src/algorithms/types.ts
  src/store/use-run.hook.ts
Due: eslint --fix

minor refactors
  src/components/core/algo-form/algo-form.component.tsx
  src/components/core/command-k/command-items.tsx
  src/components/grid/components/node.component.tsx
  src/store/use-run.hook.ts
Due: eslint --fix

delete vite react svg
  src/assets/react.svg
Due: none

lint
  src/app/use-handle-algo-updates.hook.ts
Due: eslint --fix

update deps
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  public/mockServiceWorker.js
  src/components/stats/stats-sheet.component.tsx
Due: eslint --fix

readme updates
  README2.md
Due: prettier --write

readme updates
  README2.md
  images/logo-dark.png
  images/logo-light.png
Due: prettier --write

add to roadmap
  README.md
Due: prettier --write

add plan to add 8d
  README.md
Due: prettier --write

roadmap
  README.md
Due: prettier --write

add linkedin
  README.md
Due: prettier --write

add license
  LICENSE.txt
  README.md
Due: prettier --write

about the project and cleanup
  README.md
Due: prettier --write

rename some fields for readability: * distance => costFromStart * manhatten => estimatedCostToGoal * heuristic => totalEstimatedCost * findManhattan => calculateHeuristic
  src/@types/core.d.ts
  src/algorithms/a-star/a-star-base.ts
  src/algorithms/a-star/a-star-euclidean.ts
  src/algorithms/a-star/a-star-manhatten.ts
  src/algorithms/dijkstra.ts
  src/components/grid/components/node.component.tsx
Due: eslint --fix

remove motion from Node * implement different animation, removed the fly in * implement exit animations on reset 🔥
  src/@types/core.d.ts
  src/@types/index.ts
  src/components/grid/components/node.component.tsx
  src/lib/classes/duration.ts
  src/lib/utils.ts
  src/main.tsx
  src/store/use-grid.hook.ts
Due: eslint --fix

fix double animations
  src/components/grid/grid.component.tsx
Due: eslint --fix

optimise animations
  src/components/grid/components/node.component.tsx
  src/store/use-grid.hook.ts
Due: eslint --fix

deprecate motion in shortest path * change the reset function to now reverse all paths * call ShortestPath.reset in resetGrid function
  src/algorithms/path-finding-algorithm.ts
  src/algorithms/shortest-path.ts
  src/app/use-handle-algo-updates.hook.ts
  src/components/grid/grid.component.tsx
  src/store/use-grid.hook.ts
  src/store/use-run.hook.ts
Due: eslint --fix

update snapshot
  src/components/ui/__snapshots__/command.test.tsx.snap
Due: none

add bundle analyzer
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix

add links constants
  src/lib/constants/index.ts
  src/lib/constants/links.ts
Due: eslint --fix

add github link to desktopnav & command k
  src/components/core/command-k/command-items.tsx
  src/components/core/command-k/command-k-component.tsx
  src/components/navbar/desktop-nav.component.tsx
Due: eslint --fix

update spec
  e2e/command-k.spec.ts
Due: eslint --fix

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

remove usage link
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.md
